:root{
    font-family: poppins;
    --bckground:hsl(0, 0%, 98%) ;
    --secondary: #403925;
    --txt:#262113;
  }
  
body{
    background-color: var(--bckground);
    color: var(--txt);
    margin: 2rem;
}




  a{
    text-decoration: inherit;
  }
  
  li{
    list-style: none;
    text-decoration: none;
  }