:root{
    font-family: poppins;
    --bckground:hsl(0, 0%, 98%) ;
    --secondary: #db7714;
    --txt:#262113;
  }
  
body{
    background-color: var(--bckground);
    color: var(--txt);
    margin: 2rem;
}




  a{
   color: var(--txt);
   text-decoration: none;
  }
  
  li{
    list-style: none;
   
  }